%p#notice= notice

%p
  %b Street:
  = @location.street
%p
  %b City:
  = @location.city
%p
  %b Country:
  = @location.country
%p
  = image_tag "https://static-maps.yandex.ru/1.x/?ll=#{@location.longitude},#{@location.latitude}&z=16&size=450,450&l=map&pt=#{@location.longitude},#{@location.latitude},pmwtm1"



= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
